.bg{

    background-image:linear-gradient(rgba(213, 96, 96, 0.292), rgba(29, 35, 33, 0.16)), url("https://res.cloudinary.com/dihxkysmc/image/upload/v1690288040/script%20writing/hand-is-writing-piece-paper-with-pen_188544-41017_h2urfn.jpg");
    background-size: cover ;
   
}
.logo img{
    width: 38%;
}